Lecture d'un fichier CSV

In [1]:
import pandas as pd

In [2]:
data_frame = pd.read_csv("MOCK_DATA.csv")

In [3]:
data_frame

,id,first_name,last_name,email,gender,ip_address
0,1,Cyndi,Cliss,ccliss0@mapquest.com,Female,74.112.105.131
1,2,Tallou,Ashdown,tashdown1@zimbio.com,Female,175.69.25.142
2,3,Bettina,de Tocqueville,bdetocqueville2@census.gov,Female,203.100.200.15
3,4,Gianna,Evequot,gevequot3@mit.edu,Female,182.111.187.107
4,5,Zared,Jerzykiewicz,zjerzykiewicz4@biglobe.ne.jp,Male,65.249.9.64
...,...,...,...,...,...,...
995,996,Germaine,Kolakowski,gkolakowskirn@nymag.com,Male,30.106.106.157
996,997,Reade,Slisby,rslisbyro@boston.com,Male,178.13.145.92
997,998,Binky,Cranke,bcrankerp@liveinternet.ru,Male,175.189.10.22
998,999,Ewan,Buxcy,ebuxcyrq@seesaa.net,Male,142.135.72.145
999,1000,Brigida,Roberds,broberdsrr@youtu.be,Female,37.255.27.110