In [1]:
import pandas as pd
df = pd.read_csv("MOCK_DATA.csv")

In [2]:
df.head(10)

,id,first_name,last_name,email,gender,ip_address
0,1,Cyndi,Cliss,ccliss0@mapquest.com,Female,74.112.105.131
1,2,Tallou,Ashdown,tashdown1@zimbio.com,Female,175.69.25.142
2,3,Bettina,de Tocqueville,bdetocqueville2@census.gov,Female,203.100.200.15
3,4,Gianna,Evequot,gevequot3@mit.edu,Female,182.111.187.107
4,5,Zared,Jerzykiewicz,zjerzykiewicz4@biglobe.ne.jp,Male,65.249.9.64
5,6,Tallulah,Sudddard,tsudddard5@printfriendly.com,Female,63.119.52.61
6,7,Brittaney,Pischel,bpischel6@time.com,Female,143.231.158.0
7,8,Standford,Ende,sende7@liveinternet.ru,Male,111.246.160.77
8,9,Fabian,Keward,fkeward8@shareasale.com,Male,22.172.26.64
9,10,Jacob,Whitnell,jwhitnell9@loc.gov,Male,52.248.207.134

In [3]:
df["email"].head(5)

0            ccliss0@mapquest.com
1            tashdown1@zimbio.com
2      bdetocqueville2@census.gov
3               gevequot3@mit.edu
4    zjerzykiewicz4@biglobe.ne.jp
Name: email, dtype: object

In [4]:
df[10:20]

,id,first_name,last_name,email,gender,ip_address
10,11,Graeme,Oxberry,goxberrya@alexa.com,Male,249.61.54.145
11,12,Isidor,Casaccia,icasacciab@senate.gov,Male,165.253.44.21
12,13,Mandel,Dutteridge,mdutteridgec@nhs.uk,Male,170.232.62.167
13,14,Rickert,Kowal,rkowald@omniture.com,Agender,77.44.132.127
14,15,Jabez,Jeschner,jjeschnere@miibeian.gov.cn,Male,180.209.254.29
15,16,Marcellus,Talby,mtalbyf@oracle.com,Male,183.122.210.129
16,17,Shelby,Toffanini,stoffaninig@wikispaces.com,Female,228.239.33.109
17,18,Arlin,Jeandillou,ajeandillouh@un.org,Male,247.28.245.16
18,19,Charis,Murfin,cmurfini@techcrunch.com,Female,115.240.163.15
19,20,Larry,Alpin,lalpinj@prweb.com,Male,141.83.58.4

In [6]:
df_email = df.set_index("email")
df_email.loc["tashdown1@zimbio.com"]

id                        2
first_name           Tallou
last_name           Ashdown
gender               Female
ip_address    175.69.25.142
Name: tashdown1@zimbio.com, dtype: object

In [10]:
type(df_email.loc[["tashdown1@zimbio.com","stoffaninig@wikispaces.com","cmurfini@techcrunch.com"]])

pandas.core.frame.DataFrame